{% extends 'base.html' %}
{% block title %}Blog | The Super Blog{% endblock title %}
{% load static %}

{% block content %}
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Blog</h1>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title blog-title">
                  {{post.title}}
                </h1>
                <div class="timeline">
                  <div class="track">
                    <i class="uil uil-clock"></i>
                    <p class="time">{{post.last_updated|date}}</p>
                  </div>
                  <div class="track">
                    <i class="uil uil-users-alt"></i>
                    <p class="view-count">{{post.view_count}} view{{post.view_count|pluralize}}</p>
                  </div>
                  <div class="track">
                    <form action="" method="POST">
                      <button type="submit" class="btn btn-info">
                        <i class="uil uil-bookmark-full"></i>
                        <p class="bookmark">Bookmark</p>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </center>
            <section class="mt">
              <div class="container">
                <!-- blog post -->
                <div class="blog-post">
                  <div class="post-img blog-img">
                    <img src="{{post.image.url}}" alt="" />
                  </div>
                  <div class="blog-post-content">
                    <p>
                      {{post.content}}
                    </p>
                    <div class="blog-tags">
                    {% for tag in post.tags.all %}
                      <div class="tag">{{tag.name}}</div>
                    {% endfor %}
                    </div>
                    <div class="social-share">
                      <div class="reactions">
                        <div class="likes">
                          <i class="uil uil-heart"></i> <span>200</span>
                        </div>
                        <div class="total-comments">
                          <i class="uil uil-comment-alt"></i>
                          <span>10</span>
                        </div>
                      </div>
                      <div class="share">
                        <div class="social">
                          <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    {% for comment in comments %}
                    <!-- comments -->
                    <div class="user-comment">
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{% static 'images/author.svg' %}" alt="" />
                        </div>
                        <div class="details">
                          <p>{{comment.name}}</p>
                          <small>{{comment.date|date}}</small>
                        </div>
                      </div>
                      <div class="comment-sec-main">
                        <div class="comment-sec">
                          <div class="comment">
                            <p>
                              {{comment.content}}
                            </p>
                          </div>
                          <div class="reply">
                            <button onclick="toggleDiv(this)">Reply</button>
                          </div>
                          <div class="comment-box" id="comment-reply-box">
                            <h3>Reply to post</h3>
                            <p>
                              Your email address will not be published. Required fields
                              are marked<span>*</span>
                            </p>
                            <form method="POST">
                              {% csrf_token %}
                              {{form.content}}
                              <div class="grid-3">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input type="hidden" name="parent" value="{{comment.id}}">
                                {{form.name}}
                                {{form.email}}
                                {{form.website}}
                              </div>
              
                              <button class="btn btn-primary rounded">
                                Post Reply
                              </button>
                            </form>
                          </div>  

                        </div>
                        
                        {% for reply in comment.replies.all %}
                        <div class="public-reply">
                          <div class="author">
                            <div class="profile-pic">
                              <img src="{% static 'images/author.svg' %}" alt="" />
                            </div>
                            <div class="details">
                              <p>{{reply.name}}</p>
                              <small>{{reply.date|date}}</small>
                            </div>
                          </div>
                          <div class="comment">
                            <p>
                              {{reply.content}}
                            </p>
                          </div>
                        </div>
                        {% endfor %}

                        

                      </div>
                    </div>
                    <!-- Comment end -->
                    {% endfor %}
                  </div>
                </div>
                <div class="comment-box">
                  <h3>Leave a new comment to this post</h3>
                  <p>
                    Your email address will not be published. Required fields
                    are marked<span>*</span>
                  </p>
                  <form method="POST">
                    {% csrf_token %}
                    {{form.content}}
                    <div class="grid-3">
                      <input type="hidden" name="post_id" value="{{post.id}}">
                      {{form.name}}
                      {{form.email}}
                      {{form.website}}
                    </div>
                    <button class="btn btn-primary rounded">
                      Post comment
                    </button>
                  </form>
                </div>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Most recent</h2>
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    A blog title and other stuffs will add here, also we can
                    incluse.
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    A blog title and other stuffs will add here, also we can
                    incluse.
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="../images/post.png" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    A blog title and other stuffs will add here, also we can
                    incluse.
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
            </div>

            <div class="block r-blog">
              <h2 class="title2">Related Blogs</h2>
              <!-- card -->
              <a href="#">
                <div class="card">
                  <div class="post-img">
                    <img src="../images/post.png" alt="" />
                    <div class="tag">Tag name</div>
                  </div>
                  <div class="card-content">
                    <h3>
                      A blog title and other stuffs will add here, also we can
                      include.
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="../images/author.svg" alt="" />
                      </div>
                      <div class="details">
                        <p>Author name</p>
                        <small>June 20, 2022</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <!-- card end-->

              <!-- card -->
              <a href="#">
                <div class="card">
                  <div class="post-img">
                    <img src="../images/post.png" alt="" />
                    <div class="tag">Tag name</div>
                  </div>
                  <div class="card-content">
                    <h3>
                      A blog title and other stuffs will add here, also we can
                      include.
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="../images/author.svg" alt="" />
                      </div>
                      <div class="details">
                        <p>Author name</p>
                        <small>June 20, 2022</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <!-- card end-->
            </div>
            <div class="block">
              <h2 class="title2">Top category</h2>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
              <div class="card">
                <h3>
                  A blog title and other stuffs will add here, lso we can
                  incluse.
                </h3>
                <p>
                  Lorem ipsum began as scrambled, nonsensical Latin derived from
                  Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                </p>
                <a class="learn" href="#"
                  >Learn more
                  <span class="material-icons"> trending_flat </span></a
                >
              </div>
            </div>
            <div class="block">
              <h2 class="title2">Top Tags</h2>
              <div class="blog-tags">
                <div class="tag">Tag</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag</div>
                <div class="tag">Tag content</div>
                <div class="tag">Tag</div>
              </div>
            </div>
          </div>
          <!-- right layout end -->
        </div>
      </div>

    
      {% endblock content %}